scripts/voice/workflows/OPS_W120_voice_intake_v2.json
{
  "name": "OPS_W120_voice_intake_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-intake",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "rawBody": false
        }
      },
      "id": "w120-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "voice-intake"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - auth_check + check_audio_size + normalize_input + context_id validation\n// Consolidado en 1 nodo para reducir latencia.\n\nconst headers = $input.item.json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization;\nconst expected = `Bearer ${$env.N8N_VOICE_TOKEN}`;\n\nif (!authHeader || authHeader !== expected) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: null,\n    error_code: 'AUTH_FAILED',\n    error_message: 'Sesion expirada, recarga la app',\n    timings: { total_ms: 0 },\n  }};\n}\n\n// trace_id: vox_<timestamp36>_<rand8>\nconst traceId = 'vox_' + Date.now().toString(36) + '_' +\n  Math.random().toString(36).substring(2, 10);\nconst t_start = Date.now();\n\nconst body = $input.item.json.body || $input.item.json;\nconst contextId = body.context_id || body['context_id'];\nconst rawMeta = body.metadata ?? '{}';\nlet metadata = {};\ntry { metadata = typeof rawMeta === 'string' ? JSON.parse(rawMeta) : rawMeta; } catch {}\n\n// Whitelist de context_id (hardening). Ampliada en Paso 2 para rolito,\n// extendida en Batch B con cierre_bolsas + reconciliacion_pt.\nconst ALLOWED_CONTEXTS = new Set([\n  'form_merma',\n  'form_empaque_rolito',\n  'form_incidencia_rolito',\n  'form_cierre_bolsas',\n  'form_reconciliacion_pt',\n  'form_harvest_barra',\n  'form_tank_incident_barra',\n  'form_almacen_pt_merma',\n  'form_brine_reading',\n]);\nif (!contextId || !ALLOWED_CONTEXTS.has(contextId)) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: traceId,\n    error_code: 'INTERNAL_ERROR',\n    error_message: 'context_id desconocido',\n    timings: { total_ms: Date.now() - t_start },\n    meta: { received_context_id: contextId || null },\n  }};\n}\n\n// Audio size guard (hardening). Frontend ya limita a 1MB; aqui defense-in-depth.\nconst bin = $input.item.binary || {};\nconst audioKey = Object.keys(bin)[0];\nconst audio = audioKey ? bin[audioKey] : null;\nif (!audio) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: traceId,\n    error_code: 'INTERNAL_ERROR',\n    error_message: 'audio ausente en el request',\n    timings: { total_ms: Date.now() - t_start },\n  }};\n}\nconst approxBytes = audio.fileSize || (audio.data ? Math.floor(audio.data.length * 0.75) : 0);\nif (approxBytes > 1_000_000) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: traceId,\n    error_code: 'AUDIO_TOO_LARGE',\n    error_message: 'Audio muy largo, max 10 segundos',\n    timings: { total_ms: Date.now() - t_start },\n    meta: { audio_bytes: approxBytes },\n  }};\n}\n\nreturn {\n  json: {\n    trace_id: traceId,\n    context_id: contextId,\n    plaza_id: metadata.plaza_id,\n    user_id: metadata.user_id,\n    canal: metadata.canal,\n    metadata,\n    timestamp: body.timestamp,\n    t_start,\n    audio_bytes: approxBytes,\n    audio_key: audioKey,\n  },\n  binary: $input.item.binary,\n};"
      },
      "id": "w120-gate",
      "name": "auth_context_size_gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.__early_exit }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "early_exit"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.__early_exit }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "notEquals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {}
      },
      "id": "w120-switch-early",
      "name": "early_exit_switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/listen?model=nova-3&language=es&smart_format=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Token {{ $env.DEEPGRAM_API_KEY }}" },
            { "name": "Content-Type", "value": "audio/webm" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.audio_key }}",
        "options": {
          "timeout": 6000
        }
      },
      "id": "w120-deepgram",
      "name": "deepgram_stt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - extract_transcript + early exit si empty/low confidence\nconst results = $input.item.json.results;\nconst alt = results?.channels?.[0]?.alternatives?.[0];\nconst transcript = (alt?.transcript || '').trim();\nconst confidence = alt?.confidence ?? 0;\nconst ctx = $('auth_context_size_gate').first().json;\nconst stt_ms = Date.now() - ctx.t_start;\n\nif (transcript.length === 0) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: ctx.trace_id,\n    error_code: 'STT_EMPTY',\n    error_message: 'No detecte voz, intenta de nuevo',\n    timings: { stt_ms, total_ms: stt_ms },\n    meta: { stt_confidence: confidence, transcript: '' },\n  }};\n}\nif (confidence < 0.6) {\n  return { json: {\n    __early_exit: true, ok: false, trace_id: ctx.trace_id,\n    error_code: 'STT_LOW_CONFIDENCE',\n    error_message: 'No se entendio bien, intenta de nuevo',\n    timings: { stt_ms, total_ms: stt_ms },\n    meta: { stt_confidence: confidence, transcript },\n  }};\n}\nreturn { json: { ...ctx, transcript, stt_confidence: confidence, stt_ms } };"
      },
      "id": "w120-extract",
      "name": "extract_transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.__early_exit }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stt_failed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.__early_exit }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transcript_ok"
            }
          ]
        },
        "options": {}
      },
      "id": "w120-switch-stt",
      "name": "stt_exit_switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - load_context_config (dispatcher by context_id)\n// Pre-build OpenAI body as string (n8n expression parser no maneja JSON\n// deeply nested con expressions).\n// form_merma se mantiene intacto. Agregados: form_empaque_rolito,\n// form_incidencia_rolito. Cada context encapsula resolveCatalog,\n// getSchema y buildSystemPrompt en su propia entrada de CONFIGS.\n\nconst ctx = $('extract_transcript').first().json;\nconst staticData = $getWorkflowStaticData('global');\n\n// ─── CONFIGS por context_id ───────────────────────────────────────────────\nconst CONFIGS = {\n  form_merma: {\n    resolveCatalog(c, sd) {\n      const cat = sd[`cat_${c.plaza_id}`] || { skus: [] };\n      const empty = !Array.isArray(cat.skus) || cat.skus.length === 0;\n      // Compat historica: en form_merma, cat vacio NO es error; solo marca\n      // `catalog_fallback:true` y el LLM extrae raw sin ids.\n      return { catalog: cat, empty, fallback: empty, version: cat.version || null };\n    },\n    getSchema() {\n      return {\n        name: 'merma_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['product_id', 'raw_product_name', 'cantidad', 'unidad', 'motivo', 'confianza'],\n          properties: {\n            product_id: { type: ['integer', 'null'] },\n            raw_product_name: { type: 'string' },\n            cantidad: { type: 'number' },\n            unidad: { type: 'string', enum: ['pza', 'bolsa', 'kg', 'tonelada'] },\n            motivo: { type: 'string', enum: ['derretimiento', 'contaminacion', 'golpe', 'robo', 'otro'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt(c, catalog) {\n      return `Eres un extractor de datos para registrar mermas de hielo en plaza ${c.plaza_id || 'desconocida'}. Catalogo: ${JSON.stringify(catalog)}. Si no identificas SKU con alta confianza, product_id: null y raw_product_name con el nombre dicho. Nunca inventes IDs.`;\n    },\n  },\n\n  form_empaque_rolito: {\n    resolveCatalog(c /*, sd */) {\n      const meta = c.metadata || {};\n      let products = Array.isArray(meta.packing_products) ? meta.packing_products : [];\n      if (products.length > 40) products = products.slice(0, 40);\n      const empty = products.length === 0;\n      return {\n        catalog: { products, version: meta.catalog_version || null },\n        empty,\n        fallback: false,\n        version: meta.catalog_version || null,\n      };\n    },\n    getSchema() {\n      return {\n        name: 'empaque_rolito_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['product_id', 'raw_product_name', 'qty_bags', 'cycle_num', 'confianza'],\n          properties: {\n            product_id: { type: ['integer', 'null'] },\n            raw_product_name: { type: 'string' },\n            qty_bags: { type: 'integer', minimum: 1, maximum: 999 },\n            cycle_num: { type: ['integer', 'null'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt(c, catalog) {\n      return `Eres un extractor para registrar empaque de bolsas en linea rolito. Productos disponibles: ${JSON.stringify(catalog.products || [])}. El usuario dice cantidad de bolsas, tipo de producto, y opcionalmente numero de ciclo. Si identificas el producto con alta confianza, usa su id. Si no, product_id:null y raw_product_name con lo dicho. cycle_num es el numero de ciclo dentro del turno (1, 2, 3...). Nunca inventes IDs.`;\n    },\n  },\n\n  form_incidencia_rolito: {\n    resolveCatalog(c /*, sd */) {\n      const meta = c.metadata || {};\n      const downtime = Array.isArray(meta.downtime_categories) ? meta.downtime_categories : [];\n      const scrap = Array.isArray(meta.scrap_reasons) ? meta.scrap_reasons : [];\n      const empty = downtime.length === 0 && scrap.length === 0;\n      return {\n        catalog: { downtime_categories: downtime, scrap_reasons: scrap, version: meta.catalog_version || null },\n        empty,\n        fallback: false,\n        version: meta.catalog_version || null,\n      };\n    },\n    getSchema() {\n      return {\n        name: 'incidencia_rolito_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['mode', 'category_id', 'category_name', 'kg_lost', 'minutes', 'notas', 'confianza'],\n          properties: {\n            mode: { type: 'string', enum: ['paro', 'merma'] },\n            category_id: { type: ['integer', 'null'] },\n            category_name: { type: 'string' },\n            kg_lost: { type: ['number', 'null'] },\n            minutes: { type: ['integer', 'null'] },\n            notas: { type: 'string' },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt(c, catalog) {\n      return `Eres un extractor para incidencias de produccion en linea rolito. Primero determina \"mode\": \"paro\" (maquina detenida) o \"merma\" (producto defectuoso). Si mode=\"paro\", category_id debe ser un id de: ${JSON.stringify(catalog.downtime_categories || [])}. Si mode=\"merma\", category_id debe ser un id de: ${JSON.stringify(catalog.scrap_reasons || [])}. Para merma incluye kg_lost (>0). Para paro incluye minutes si el usuario lo menciona. category_name es el nombre literal identificado (sirve de fallback si el id no matchea). Nunca inventes IDs.`;\n    },\n  },\n\n  form_cierre_bolsas: {\n    // Sin catalogo externo: ambos campos son numericos directos.\n    resolveCatalog() {\n      return { catalog: {}, empty: false, fallback: false, version: null };\n    },\n    getSchema() {\n      return {\n        name: 'cierre_bolsas_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['bags_received', 'bags_remaining', 'confianza'],\n          properties: {\n            bags_received: { type: ['integer', 'null'] },\n            bags_remaining: { type: ['integer', 'null'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt() {\n      return `Eres un extractor para el cierre de turno rolito. El usuario dice cuantas bolsas recibio al inicio del turno y cuantas le sobraron al cierre. Devuelve bags_received (int) y bags_remaining (int). Si el usuario solo menciona uno, el otro debe ser null. Rango razonable 0-10000. No inventes numeros.`;\n    },\n  },\n\n  form_reconciliacion_pt: {\n    // Sin catalogo externo: un solo campo numerico decimal.\n    resolveCatalog() {\n      return { catalog: {}, empty: false, fallback: false, version: null };\n    },\n    getSchema() {\n      return {\n        name: 'reconciliacion_pt_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['pt_received_kg', 'confianza'],\n          properties: {\n            pt_received_kg: { type: ['number', 'null'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt() {\n      return `Eres un extractor para reconciliacion de inventario PT. El usuario dice los kilos recibidos de produccion al almacen (numero decimal). Devuelve pt_received_kg (number). Si no se menciona un numero claro, null. Rango razonable 0-10000. No inventes numeros.`;\n    },\n  },\n\n  form_harvest_barra: {\n    // Sin catalogo externo: un solo campo numerico decimal (temperatura en °C).\n    resolveCatalog() {\n      return { catalog: {}, empty: false, fallback: false, version: null };\n    },\n    getSchema() {\n      return {\n        name: 'harvest_barra_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['temperature', 'confianza'],\n          properties: {\n            temperature: { type: ['number', 'null'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt() {\n      return `Eres un extractor para registrar la temperatura de salmuera al cosechar una canastilla. El usuario dice la temperatura en grados Celsius; la salmuera suele ser NEGATIVA (tipico -10 a -15 °C). Devuelve temperature (number decimal, puede ser negativo, cero o positivo). Si no se menciona un numero claro de temperatura, null. Rango razonable -25 a 10. No inventes numeros.`;\n    },\n  },\n\n  form_tank_incident_barra: {\n    resolveCatalog(c /*, sd */) {\n      const meta = c.metadata || {};\n      const incidents = Array.isArray(meta.tank_incidents) ? meta.tank_incidents : [];\n      // Catalogo es pequeño (5 tipos) — si viene vacio, EMPTY_CATALOG.\n      return {\n        catalog: { tank_incidents: incidents, version: meta.catalog_version || null },\n        empty: incidents.length === 0,\n        fallback: false,\n        version: meta.catalog_version || null,\n      };\n    },\n    getSchema() {\n      return {\n        name: 'tank_incident_barra_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['incident_type_id', 'incident_type', 'description', 'confianza'],\n          properties: {\n            incident_type_id: { type: ['string', 'null'] },\n            incident_type: { type: 'string' },\n            description: { type: 'string' },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt(c, catalog) {\n      return `Eres un extractor para reportar incidentes en un tanque de salmuera. Tipos posibles (elige EXACTAMENTE UNO por id): ${JSON.stringify(catalog.tank_incidents || [])}. Devuelve incident_type_id (string con el id del catalogo si identificas con alta confianza, o null si no estas seguro), incident_type (el label formal del catalogo si matcheaste id, o el termino literal que dijo el usuario como fallback), description (texto libre de detalle que dijo el usuario, o string vacio si no dio detalles). Si el usuario no menciona ningun incidente, incident_type_id:null e incident_type:''. Nunca inventes IDs que no esten en la lista.`;\n    },\n  },\n\n  form_almacen_pt_merma: {\n    resolveCatalog(c /*, sd */) {\n      const meta = c.metadata || {};\n      const reasons = Array.isArray(meta.scrap_reasons) ? meta.scrap_reasons : [];\n      let skus = Array.isArray(meta.skus) ? meta.skus : [];\n      if (skus.length > 40) skus = skus.slice(0, 40);\n      // Las 5 razones son estables (hardcoded en frontend). Si vienen vacias\n      // marcamos empty para forzar EMPTY_CATALOG — no queremos extraer reason_id\n      // sin whitelist viva.\n      return {\n        catalog: { reasons, skus, version: meta.catalog_version || null },\n        empty: reasons.length === 0,\n        fallback: false,\n        version: meta.catalog_version || null,\n      };\n    },\n    getSchema() {\n      return {\n        name: 'form_almacen_pt_merma_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['product_id', 'raw_product_name', 'qty', 'reason_id', 'notes', 'confianza'],\n          properties: {\n            product_id: { type: ['integer', 'null'] },\n            raw_product_name: { type: 'string' },\n            qty: { type: ['number', 'null'] },\n            reason_id: { type: ['string', 'null'] },\n            notes: { type: 'string' },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt(c, catalog) {\n      const skus = Array.isArray(catalog.skus) ? catalog.skus : [];\n      const reasons = Array.isArray(catalog.reasons) ? catalog.reasons : [];\n      return `Eres un extractor para registrar merma de producto terminado en almacen (inventario ya listo, NO produccion). Productos disponibles: ${JSON.stringify(skus)}. Motivos posibles (elige EXACTAMENTE UNO por id, usando los aliases como pistas): ${JSON.stringify(reasons)}. El usuario dice: producto (nombre o SKU), qty (cantidad en unidades, numero), motivo (por que la merma) y opcionalmente notas. Si identificas el producto con alta confianza usa su id; si no, product_id:null y raw_product_name con el nombre dicho. Para el motivo elige el id del catalogo que mejor matchee con lo dicho (aliases incluidos); si nada matchea o el usuario no menciona motivo, reason_id:null. notes es texto libre de detalle (o string vacio). qty debe ser number > 0 si el usuario lo dice; si no, null. Nunca inventes IDs.`;\n    },\n  },\n\n  form_brine_reading: {\n    // Sin catalogo externo: 2 campos numericos (saltLevel + brineTemp).\n    resolveCatalog() {\n      return { catalog: {}, empty: false, fallback: false, version: null };\n    },\n    getSchema() {\n      return {\n        name: 'brine_reading_payload',\n        strict: true,\n        schema: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['saltLevel', 'brineTemp', 'confianza'],\n          properties: {\n            saltLevel: { type: ['number', 'null'] },\n            brineTemp: { type: ['number', 'null'] },\n            confianza: { type: 'number', minimum: 0, maximum: 1 },\n          },\n        },\n      };\n    },\n    buildSystemPrompt() {\n      return `Eres un extractor de lecturas de salmuera de tanques de hielo. El supervisor dice DOS valores numericos:\\n- saltLevel: nivel de sal, unidades ppm o %. Palabras clave: 'sal', 'nivel', 'ppm'. Rango razonable 0-10000.\\n- brineTemp: temperatura de la salmuera en grados Celsius. Palabras clave: 'temperatura', 'temp', 'grados'. Rango razonable -25 a 10; tipicamente NEGATIVA (entre -10 y -15).\\n\\nREGLAS DE EXTRACCION:\\n1. PRIORIZA keywords. Ejemplos:\\n   - '500 ppm' o 'sal a 500' o '500 de sal' -> saltLevel=500.\\n   - 'menos 13 grados' o 'temperatura menos 13' o '-13 grados' -> brineTemp=-13.\\n2. FALLBACK por orden: si NO hay keywords pero hay dos numeros, el PRIMERO es saltLevel y el SEGUNDO es brineTemp.\\n3. NO MEZCLES los valores. Si solo hay keyword para uno, devuelve solo ese; el otro debe ser null.\\n4. 'Menos N', 'negativo N' o 'bajo cero N' significa -N (solo aplica a brineTemp; saltLevel siempre >= 0).\\n5. Si el usuario no dice ningun numero claro, ambos null.\\n\\nEJEMPLOS:\\n- 'quinientos ppm, menos trece grados' -> { saltLevel: 500, brineTemp: -13 }\\n- 'sal a 500, temperatura menos 13' -> { saltLevel: 500, brineTemp: -13 }\\n- '500 de sal, -13 grados' -> { saltLevel: 500, brineTemp: -13 }\\n- 'mil ppm' -> { saltLevel: 1000, brineTemp: null }\\n- 'menos doce grados' -> { saltLevel: null, brineTemp: -12 }\\n- '800 y menos 10' (sin keywords) -> { saltLevel: 800, brineTemp: -10 }\\n\\nNunca inventes valores.`;\n    },\n  },\n};\n\n// ─── dispatcher ────────────────────────────────────────────────────────────\nconst cfg = CONFIGS[ctx.context_id];\nif (!cfg) {\n  // auth_context_size_gate ya valida whitelist; guardia defensiva.\n  return { json: {\n    ...ctx,\n    __validation_failed: true, ok: false, trace_id: ctx.trace_id,\n    error_code: 'INTERNAL_ERROR',\n    error_message: 'Config ausente para context_id',\n    errors: [`config_missing_${ctx.context_id}`],\n    timings: { stt_ms: ctx.stt_ms, total_ms: Date.now() - ctx.t_start },\n    meta: { stt_confidence: ctx.stt_confidence, transcript: ctx.transcript },\n    // body minimal para que openai_extract no crashee; validate descarta por __validation_failed.\n    openai_body: JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'user', content: 'ok' }], max_tokens: 1 }),\n  }};\n}\n\nconst { catalog, empty, fallback, version } = cfg.resolveCatalog(ctx, staticData);\n\n// EMPTY_CATALOG: form_merma tolera catalog vacio (fallback historico).\n// Los otros contexts fallan explicitamente antes de llamar al LLM.\nif (empty && ctx.context_id !== 'form_merma') {\n  return { json: {\n    ...ctx,\n    catalog, catalog_fallback: fallback, catalog_version: version,\n    __validation_failed: true, ok: false, trace_id: ctx.trace_id,\n    error_code: 'EMPTY_CATALOG',\n    error_message: 'Catalogo ausente o vacio en metadata',\n    errors: [`catalog_empty_${ctx.context_id}`],\n    timings: { stt_ms: ctx.stt_ms, total_ms: Date.now() - ctx.t_start },\n    meta: { stt_confidence: ctx.stt_confidence, transcript: ctx.transcript, catalog_fallback: fallback, catalog_version: version },\n    openai_body: JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'user', content: 'ok' }], max_tokens: 1 }),\n  }};\n}\n\nconst openai_body = JSON.stringify({\n  model: 'gpt-4o-mini',\n  temperature: 0,\n  messages: [\n    { role: 'system', content: cfg.buildSystemPrompt(ctx, catalog) },\n    { role: 'user', content: ctx.transcript || '' },\n  ],\n  response_format: { type: 'json_schema', json_schema: cfg.getSchema() },\n});\n\nreturn { json: {\n  ...ctx,\n  catalog,\n  catalog_fallback: fallback,\n  catalog_version: version,\n  openai_body,\n}};"
      },
      "id": "w120-catalog",
      "name": "load_catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.openai_body }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "w120-openai",
      "name": "openai_extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 260]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - validate_business_rules (dispatcher por context_id)\n// Whitelists y reglas de negocio por contexto. NO rechaza por confianza baja\n// (la confianza solo se emite en el output). Short-circuit si load_catalog ya\n// marco __validation_failed (ej. EMPTY_CATALOG).\n\nconst ctx = $('load_catalog').first().json;\n\n// Short-circuit: load_catalog ya decidio envelope de error; solo propagar.\nif (ctx.__validation_failed) return { json: ctx };\n\nconst validation_start = Date.now();\n\n// Parse respuesta del LLM\nlet llmRaw;\ntry {\n  const content = $input.item.json.choices?.[0]?.message?.content;\n  llmRaw = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  return { json: {\n    __validation_failed: true, ok: false, trace_id: ctx.trace_id,\n    error_code: 'INTERNAL_ERROR',\n    error_message: 'OpenAI response no parseable',\n    errors: [String(e.message || e)],\n    timings: { stt_ms: ctx.stt_ms, validation_ms: Date.now() - validation_start },\n    meta: { stt_confidence: ctx.stt_confidence, transcript: ctx.transcript },\n  }};\n}\nconst llm_ms = Date.now() - ctx.t_start - ctx.stt_ms;\n\n// ─── VALIDATORS por context_id ─────────────────────────────────────────────\nconst VALIDATORS = {\n  form_merma(raw, c) {\n    const errs = [];\n    const ALLOWED_UNIDAD = new Set(['pza','bolsa','kg','tonelada']);\n    const ALLOWED_MOTIVO = new Set(['derretimiento','contaminacion','golpe','robo','otro']);\n    if (raw.unidad && !ALLOWED_UNIDAD.has(raw.unidad)) {\n      errs.push(`unidad_fuera_whitelist: ${raw.unidad}`);\n    }\n    if (raw.motivo && !ALLOWED_MOTIVO.has(raw.motivo)) {\n      errs.push(`motivo_fuera_whitelist: ${raw.motivo}`);\n    }\n    if (typeof raw.cantidad !== 'number' || raw.cantidad < 0.01 || raw.cantidad > 500) {\n      errs.push(`cantidad_fuera_rango: ${raw.cantidad}`);\n    }\n    if (raw.product_id && c.catalog?.skus?.length) {\n      const sku = c.catalog.skus.find(s => s.id === raw.product_id);\n      if (sku && sku.uom && sku.uom !== raw.unidad) {\n        errs.push(`unidad_incoherente: sku=${sku.uom} llm=${raw.unidad}`);\n      }\n    }\n    return { errors: errs, error_code: errs.length ? 'VALIDATION_FAILED' : null };\n  },\n\n  form_empaque_rolito(/* raw, c */) {\n    // Schema strict ya valida tipos (product_id int|null, qty_bags int 1-999,\n    // cycle_num int|null, confianza 0-1). Ajuste 8: cycle_num NO se valida\n    // contra catalogo aqui (es responsabilidad del matcher frontend).\n    // Ajuste 5: no rechazar por confianza baja.\n    return { errors: [], error_code: null };\n  },\n\n  form_incidencia_rolito(raw, c) {\n    const errs = [];\n    const cat = c.catalog || {};\n    const downtimeIds = new Set((cat.downtime_categories || []).map(x => Number(x.id)));\n    const scrapIds = new Set((cat.scrap_reasons || []).map(x => Number(x.id)));\n    // kg_lost requerido para merma\n    if (raw.mode === 'merma' && (typeof raw.kg_lost !== 'number' || raw.kg_lost <= 0)) {\n      errs.push(`kg_lost_requerido_merma: ${raw.kg_lost}`);\n    }\n    // MODE_CATEGORY_MISMATCH si category_id no existe en el catalogo del mode\n    if (raw.category_id !== null && raw.category_id !== undefined) {\n      const cid = Number(raw.category_id);\n      if (raw.mode === 'paro' && !downtimeIds.has(cid)) {\n        return { errors: [`category_id_no_en_downtime: ${cid}`], error_code: 'MODE_CATEGORY_MISMATCH' };\n      }\n      if (raw.mode === 'merma' && !scrapIds.has(cid)) {\n        return { errors: [`category_id_no_en_scrap: ${cid}`], error_code: 'MODE_CATEGORY_MISMATCH' };\n      }\n    }\n    return { errors: errs, error_code: errs.length ? 'VALIDATION_FAILED' : null };\n  },\n\n  form_cierre_bolsas(raw /*, c */) {\n    // Ajuste Batch B: ambos null -> VALIDATION_FAILED (el usuario no capturo ningun dato).\n    if (raw.bags_received === null && raw.bags_remaining === null) {\n      return { errors: ['ningun_dato_capturado'], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n\n  form_reconciliacion_pt(raw /*, c */) {\n    // Ajuste Batch B: pt_received_kg null -> VALIDATION_FAILED (campo unico requerido).\n    if (raw.pt_received_kg === null || raw.pt_received_kg === undefined) {\n      return { errors: ['pt_received_kg_requerido'], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n\n  form_harvest_barra(raw /*, c */) {\n    // Piloto barra 1: temperature null -> VALIDATION_FAILED (campo unico requerido).\n    // Cero y negativos son validos (salmuera tipica -10 a -15 °C).\n    if (raw.temperature === null || raw.temperature === undefined || typeof raw.temperature !== 'number' || isNaN(raw.temperature)) {\n      return { errors: ['temperature_requerido'], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n\n  form_tank_incident_barra(raw /*, c */) {\n    // Piloto barra 2: incident_type_id null Y description vacia -> VALIDATION_FAILED.\n    // Al menos uno de los dos debe venir para que el reporte tenga sentido.\n    const idEmpty = raw.incident_type_id === null || raw.incident_type_id === undefined || raw.incident_type_id === '';\n    const descEmpty = typeof raw.description !== 'string' || raw.description.trim() === '';\n    if (idEmpty && descEmpty) {\n      return { errors: ['sin_tipo_ni_descripcion'], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n\n  form_almacen_pt_merma(raw /*, c */) {\n    const ALLOWED_REASONS = new Set(['damage', 'expired', 'shortage', 'contamination', 'other']);\n    // reason_id fuera de whitelist (LLM alucinado) -> error explicito.\n    if (raw.reason_id && !ALLOWED_REASONS.has(raw.reason_id)) {\n      return { errors: [`reason_id_fuera_whitelist: ${raw.reason_id}`], error_code: 'VALIDATION_FAILED' };\n    }\n    // Bloquear si NINGUN campo utilizable llego — el usuario no dicto nada real.\n    const noProduct = (raw.product_id === null || raw.product_id === undefined) &&\n                      (typeof raw.raw_product_name !== 'string' || raw.raw_product_name.trim() === '');\n    const noQty = typeof raw.qty !== 'number' || raw.qty <= 0;\n    const noReason = !raw.reason_id;\n    const noNotes = typeof raw.notes !== 'string' || raw.notes.trim() === '';\n    if (noProduct && noQty && noReason && noNotes) {\n      return { errors: ['ningun_dato_capturado'], error_code: 'VALIDATION_FAILED' };\n    }\n    // qty presente debe caer en rango razonable para merma PT.\n    if (typeof raw.qty === 'number' && raw.qty > 0 && (raw.qty < 0.01 || raw.qty > 500)) {\n      return { errors: [`qty_fuera_rango: ${raw.qty}`], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n\n  form_brine_reading(raw /*, c */) {\n    const saltNull = raw.saltLevel === null || raw.saltLevel === undefined;\n    const tempNull = raw.brineTemp === null || raw.brineTemp === undefined;\n    // Si ambos null, el usuario no dicto ningun numero aprovechable.\n    if (saltNull && tempNull) {\n      return { errors: ['ningun_valor_capturado'], error_code: 'VALIDATION_FAILED' };\n    }\n    // Rangos razonables por campo. saltLevel siempre >= 0.\n    if (!saltNull && (typeof raw.saltLevel !== 'number' || raw.saltLevel < 0 || raw.saltLevel > 10000)) {\n      return { errors: [`saltLevel_fuera_rango: ${raw.saltLevel}`], error_code: 'VALIDATION_FAILED' };\n    }\n    if (!tempNull && (typeof raw.brineTemp !== 'number' || raw.brineTemp < -25 || raw.brineTemp > 10)) {\n      return { errors: [`brineTemp_fuera_rango: ${raw.brineTemp}`], error_code: 'VALIDATION_FAILED' };\n    }\n    return { errors: [], error_code: null };\n  },\n};\n\nconst validator = VALIDATORS[ctx.context_id];\nconst result = validator\n  ? validator(llmRaw, ctx)\n  : { errors: [`no_validator_para_${ctx.context_id}`], error_code: 'INTERNAL_ERROR' };\n\nconst validation_ms = Date.now() - validation_start;\n\nif (result.error_code) {\n  const msg = result.error_code === 'MODE_CATEGORY_MISMATCH'\n    ? 'Categoria no corresponde al tipo de incidencia'\n    : 'Revisa los datos manualmente';\n  return { json: {\n    __validation_failed: true, ok: false, trace_id: ctx.trace_id,\n    error_code: result.error_code,\n    error_message: msg,\n    errors: result.errors, ai_output: llmRaw,\n    timings: { stt_ms: ctx.stt_ms, llm_ms, validation_ms },\n    meta: { stt_confidence: ctx.stt_confidence, transcript: ctx.transcript, catalog_fallback: ctx.catalog_fallback, catalog_version: ctx.catalog_version },\n  }};\n}\n\nreturn { json: { ...ctx, ai_output: llmRaw, llm_ms, validation_ms } };"
      },
      "id": "w120-validate",
      "name": "validate_business_rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 260]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - build_response (success path)\nconst ctx = $input.item.json;\nif (ctx.__validation_failed) return { json: ctx }; // ya es envelope error\n\nconst total_ms = Date.now() - ctx.t_start;\n\n// Confirmation text templates por context_id (ADR 0001 extension aditiva).\n// Devuelven null si no hay suficientes campos -> meta.confirmation_text se\n// omite y el frontend usa su banner legacy (transcript + confianza).\nconst CONFIRMATION_TEMPLATES = {\n  form_merma(d) {\n    if (!d) return null;\n    const name = d.raw_product_name || null;\n    const qty = (typeof d.cantidad === 'number' && d.cantidad > 0) ? d.cantidad : null;\n    if (!qty || !name) return null;\n    const unidad = d.unidad ? `${d.unidad}${d.cantidad === 1 ? '' : 's'}` : '';\n    const motivo = d.motivo ? ` por ${d.motivo}` : '';\n    return `Voy a registrar ${qty}${unidad ? ' ' + unidad : ''} de ${name}${motivo}`;\n  },\n  form_empaque_rolito(d) {\n    if (!d) return null;\n    const qty = (typeof d.qty_bags === 'number' && d.qty_bags > 0) ? d.qty_bags : null;\n    if (!qty) return null;\n    const name = d.raw_product_name ? ` de ${d.raw_product_name}` : '';\n    const cycle = (typeof d.cycle_num === 'number') ? `, ciclo ${d.cycle_num}` : '';\n    return `Voy a registrar empaque de ${qty} bolsas${name}${cycle}`;\n  },\n  form_incidencia_rolito(d) {\n    if (!d) return null;\n    const cat = d.category_name || null;\n    if (d.mode === 'paro') {\n      const min = (typeof d.minutes === 'number' && d.minutes > 0) ? `, ${d.minutes} minutos` : '';\n      return cat ? `Voy a reportar paro por ${cat}${min}` : null;\n    }\n    if (d.mode === 'merma') {\n      const kg = (typeof d.kg_lost === 'number' && d.kg_lost > 0) ? `, ${d.kg_lost} kg perdidos` : '';\n      return cat ? `Voy a reportar merma ${cat}${kg}` : null;\n    }\n    return null;\n  },\n  form_cierre_bolsas(d) {\n    if (!d) return null;\n    const parts = [];\n    if (typeof d.bags_received === 'number') parts.push(`${d.bags_received} recibidas`);\n    if (typeof d.bags_remaining === 'number') parts.push(`${d.bags_remaining} sobrantes`);\n    if (!parts.length) return null;\n    return `Voy a registrar cuadratura: ${parts.join(', ')}`;\n  },\n  form_reconciliacion_pt(d) {\n    if (!d) return null;\n    if (typeof d.pt_received_kg !== 'number') return null;\n    return `Voy a verificar ${d.pt_received_kg} kg recibidos`;\n  },\n  form_harvest_barra(d) {\n    if (!d || typeof d.temperature !== 'number') return null;\n    return `Voy a registrar cosecha con ${d.temperature} grados`;\n  },\n  form_tank_incident_barra(d) {\n    if (!d) return null;\n    const tipo = d.incident_type || null;\n    if (!tipo) return null;\n    const desc = (typeof d.description === 'string' && d.description.trim()) ? ` Observacion: ${d.description.trim()}` : '';\n    return `Voy a reportar ${tipo} en el tanque.${desc}`;\n  },\n  form_almacen_pt_merma(d) {\n    if (!d) return null;\n    const name = d.raw_product_name || null;\n    const qty = (typeof d.qty === 'number' && d.qty > 0) ? d.qty : null;\n    if (!qty && !name && !d.reason_id) return null;\n    const REASON_LABELS = {\n      damage: 'roto o danado',\n      expired: 'caducado',\n      shortage: 'faltante',\n      contamination: 'contaminacion',\n      other: 'otro motivo',\n    };\n    const motivo = d.reason_id ? ` por ${REASON_LABELS[d.reason_id] || d.reason_id}` : '';\n    if (qty && name) return `Voy a registrar ${qty} de ${name}${motivo}`;\n    if (name) return `Voy a registrar merma de ${name}${motivo}`;\n    if (qty) return `Voy a registrar ${qty} de merma${motivo}`;\n    return `Voy a registrar merma${motivo}`;\n  },\n  form_brine_reading(d) {\n    if (!d) return null;\n    const salt = (typeof d.saltLevel === 'number') ? d.saltLevel : null;\n    const temp = (typeof d.brineTemp === 'number') ? d.brineTemp : null;\n    if (salt === null && temp === null) return null;\n    const parts = [];\n    if (salt !== null) parts.push(`sal en ${salt} ppm`);\n    if (temp !== null) parts.push(`temperatura en ${temp} grados`);\n    return `Voy a registrar ${parts.join(' y ')}.`;\n  },\n};\n\nlet confirmation_text = null;\ntry {\n  const fn = CONFIRMATION_TEMPLATES[ctx.context_id];\n  if (fn) confirmation_text = fn(ctx.ai_output);\n} catch { confirmation_text = null; }\n\nconst meta = {\n  stt_confidence: ctx.stt_confidence,\n  transcript: ctx.transcript,\n  catalog_fallback: !!ctx.catalog_fallback,\n  catalog_version: ctx.catalog_version || null,\n};\nif (confirmation_text) meta.confirmation_text = confirmation_text;\n\nreturn { json: {\n  ok: true,\n  trace_id: ctx.trace_id,\n  context_id: ctx.context_id,\n  schema_version: 'v1',\n  prompt_version: `${ctx.context_id}_v1.0`,\n  pipeline_version: 'w120_v2.0',\n  data: ctx.ai_output,\n  timings: {\n    stt_ms: ctx.stt_ms,\n    llm_ms: ctx.llm_ms || 0,\n    validation_ms: ctx.validation_ms || 0,\n    total_ms,\n  },\n  meta,\n}};"
      },
      "id": "w120-build",
      "name": "build_response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=${process.env.ODOO_URL || ''}/jsonrpc",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\"{{ $env.ODOO_DB }}\", \"{{ $env.ODOO_USER }}\", \"{{ $env.ODOO_PASSWORD }}\", {}]\n  }\n}",
        "options": {
          "timeout": 2000
        }
      },
      "id": "w120-odoo-auth",
      "name": "odoo_authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400],
      "continueOnFail": true,
      "notes": "Authenticate dinamico: obtiene uid. Best-effort (Continue On Fail) para no bloquear Respond."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ODOO_URL }}/jsonrpc",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $env.ODOO_DB }}\",\n      {{ $('odoo_authenticate').first().json.result }},\n      \"{{ $env.ODOO_PASSWORD }}\",\n      \"kold.voice.intake.log\",\n      \"log_request\",\n      [{\n        \"trace_id\":          \"{{ $('build_response').first().json.trace_id }}\",\n        \"context_id\":        \"{{ $('build_response').first().json.context_id }}\",\n        \"plaza_id\":          \"{{ $('auth_context_size_gate').first().json.plaza_id }}\",\n        \"user_id\":           {{ $('auth_context_size_gate').first().json.user_id || 'false' }},\n        \"canal\":             \"{{ $('auth_context_size_gate').first().json.canal }}\",\n        \"transcript\":        {{ JSON.stringify($('build_response').first().json.meta?.transcript || '') }},\n        \"stt_confidence\":    {{ $('build_response').first().json.meta?.stt_confidence || 0 }},\n        \"ai_output_json\":    {{ JSON.stringify($('build_response').first().json.data || {}) }},\n        \"schema_version\":    \"{{ $('build_response').first().json.schema_version || 'v1' }}\",\n        \"prompt_version\":    \"{{ $('build_response').first().json.prompt_version || '' }}\",\n        \"pipeline_version\":  \"w120_v2.0\",\n        \"ok\":                {{ $('build_response').first().json.ok }},\n        \"error_code\":        \"{{ $('build_response').first().json.error_code || '' }}\",\n        \"validation_errors\": {{ JSON.stringify($('build_response').first().json.errors || []) }},\n        \"stt_ms\":            {{ $('build_response').first().json.timings?.stt_ms || 0 }},\n        \"llm_ms\":            {{ $('build_response').first().json.timings?.llm_ms || 0 }},\n        \"validation_ms\":     {{ $('build_response').first().json.timings?.validation_ms || 0 }},\n        \"total_ms\":          {{ $('build_response').first().json.timings?.total_ms || 0 }}\n      }]\n    ]\n  }\n}",
        "options": {
          "timeout": 2000
        }
      },
      "id": "w120-odoo-log",
      "name": "log_to_odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 400],
      "continueOnFail": true,
      "notes": "Best-effort. Si Odoo cae no bloquea UX. console.log del fail en nodo siguiente."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W120 - log_fail_notice: console.log si log_to_odoo fallo (hardening aprobado)\nconst resp = $input.item.json;\nif (resp?.error || resp?.result?.error) {\n  const env = $('build_response').first().json || {};\n  const safeTranscript = (env?.meta?.transcript || '').slice(0, 100);\n  console.log('[W120 log_to_odoo FAIL]',\n    'trace_id=' + env?.trace_id,\n    'ok=' + env?.ok,\n    'transcript=\"' + safeTranscript + '\"',\n    'odoo_error=' + JSON.stringify(resp?.error || resp?.result?.error)\n  );\n}\nreturn $input.item;"
      },
      "id": "w120-log-notice",
      "name": "log_fail_notice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 400]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "w120-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 200]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "auth_context_size_gate", "type": "main", "index": 0 }]] },
    "auth_context_size_gate": { "main": [[{ "node": "early_exit_switch", "type": "main", "index": 0 }]] },
    "early_exit_switch": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "deepgram_stt", "type": "main", "index": 0 }]
      ]
    },
    "deepgram_stt": { "main": [[{ "node": "extract_transcript", "type": "main", "index": 0 }]] },
    "extract_transcript": { "main": [[{ "node": "stt_exit_switch", "type": "main", "index": 0 }]] },
    "stt_exit_switch": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "load_catalog", "type": "main", "index": 0 }]
      ]
    },
    "load_catalog": { "main": [[{ "node": "openai_extract", "type": "main", "index": 0 }]] },
    "openai_extract": { "main": [[{ "node": "validate_business_rules", "type": "main", "index": 0 }]] },
    "validate_business_rules": { "main": [[{ "node": "build_response", "type": "main", "index": 0 }]] },
    "build_response": {
      "main": [[
        { "node": "Respond", "type": "main", "index": 0 },
        { "node": "odoo_authenticate", "type": "main", "index": 0 }
      ]]
    },
    "odoo_authenticate": { "main": [[{ "node": "log_to_odoo", "type": "main", "index": 0 }]] },
    "log_to_odoo": { "main": [[{ "node": "log_fail_notice", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "tags": []
}
